.navbar .navbar-toggler {
  border-width: 0;
  outline: 0
}
.anim-bar-dark,
.anim-bar-light {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0s ease-in-out;
  -o-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
  cursor: pointer
}
.anim-bar-dark span,
.anim-bar-light span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0
}
.anim-bar-light span {
  background: #fff
}
.anim-bar-dark span {
  background: #000
}
.navbar-toggler .icon-bar:nth-of-type(1) {
  top: 0
}
.navbar-toggler .icon-bar:nth-of-type(2) {
  top: 4px
}
.navbar-toggler .icon-bar:nth-of-type(3) {
  top: 8px
}
.navbar-toggler .icon-bar {
  position: relative;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.navbar-toggler.active .anim-1 .icon-bar:nth-of-type(1) {
  top: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.navbar-toggler.active .anim-1 .icon-bar:nth-of-type(2) {
  background: 0 0;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s
}
.navbar-toggler.active .anim-1 .icon-bar:nth-of-type(3) {
  top: -3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.navbar-toggler.active .anim-2 .icon-bar:nth-of-type(1) {
  top: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.navbar-toggler.active .anim-2 .icon-bar:nth-of-type(2) {
  opacity: 0;
  left: -60px
}
.navbar-toggler.active .anim-2 .icon-bar:nth-of-type(3) {
  top: -3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.carousel_overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.418)
}
.carousel .carousel-indicators li {
  width: .625rem;
  height: .625rem;
  cursor: pointer;
  border-radius: 50%
}
.btn-rounded-blue,
.btn-rounded-gradient-aqua,
.btn-rounded-gradient-blue,
.btn-rounded-gradient-peach,
.btn-rounded-indigo,
.btn-rounded-light-blue,
.btn-rounded-light-green,
.btn-rounded-light-yellow,
.btn-rounded-red-orange {
  outline: 0;
  border-radius: 5em!important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  color: #fff
}
.btn-rounded-blue:hover,
.btn-rounded-gradient-aqua:hover,
.btn-rounded-gradient-blue:hover,
.btn-rounded-gradient-peach:hover,
.btn-rounded-indigo:hover,
.btn-rounded-light-blue:hover,
.btn-rounded-light-green:hover,
.btn-rounded-light-yellow:hover,
.btn-rounded-red-orange:hover {
  outline: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
  color: #fff
}
.btn-check:focus + .btn-rounded-blue,
.btn-check:focus + .btn-rounded-gradient-aqua,
.btn-check:focus + .btn-rounded-gradient-blue,
.btn-check:focus + .btn-rounded-gradient-peach,
.btn-check:focus + .btn-rounded-indigo,
.btn-check:focus + .btn-rounded-light-blue,
.btn-check:focus + .btn-rounded-light-green,
.btn-check:focus + .btn-rounded-light-yellow,
.btn-check:focus + .btn-rounded-red-orange,
.btn-rounded-blue:focus,
.btn-rounded-gradient-aqua:focus,
.btn-rounded-gradient-blue:focus,
.btn-rounded-gradient-peach:focus,
.btn-rounded-indigo:focus,
.btn-rounded-light-blue:focus,
.btn-rounded-light-green:focus,
.btn-rounded-light-yellow:focus,
.btn-rounded-red-orange:focus {
  outline: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  color: #fff
}
.active.btn-rounded-blue,
.active.btn-rounded-gradient-aqua,
.active.btn-rounded-gradient-blue,
.active.btn-rounded-gradient-peach,
.active.btn-rounded-indigo,
.active.btn-rounded-light-blue,
.active.btn-rounded-light-green,
.active.btn-rounded-light-yellow,
.active.btn-rounded-red-orange,
.btn-check:active + .btn-rounded-blue,
.btn-check:active + .btn-rounded-gradient-aqua,
.btn-check:active + .btn-rounded-gradient-blue,
.btn-check:active + .btn-rounded-gradient-peach,
.btn-check:active + .btn-rounded-indigo,
.btn-check:active + .btn-rounded-light-blue,
.btn-check:active + .btn-rounded-light-green,
.btn-check:active + .btn-rounded-light-yellow,
.btn-check:active + .btn-rounded-red-orange,
.btn-check:checked + .btn-rounded-blue,
.btn-check:checked + .btn-rounded-gradient-aqua,
.btn-check:checked + .btn-rounded-gradient-blue,
.btn-check:checked + .btn-rounded-gradient-peach,
.btn-check:checked + .btn-rounded-indigo,
.btn-check:checked + .btn-rounded-light-blue,
.btn-check:checked + .btn-rounded-light-green,
.btn-check:checked + .btn-rounded-light-yellow,
.btn-check:checked + .btn-rounded-red-orange,
.btn-rounded-blue:active,
.btn-rounded-gradient-aqua:active,
.btn-rounded-gradient-blue:active,
.btn-rounded-gradient-peach:active,
.btn-rounded-indigo:active,
.btn-rounded-light-blue:active,
.btn-rounded-light-green:active,
.btn-rounded-light-yellow:active,
.btn-rounded-red-orange:active {
  outline: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.active.btn-rounded-blue:focus,
.active.btn-rounded-gradient-aqua:focus,
.active.btn-rounded-gradient-blue:focus,
.active.btn-rounded-gradient-peach:focus,
.active.btn-rounded-indigo:focus,
.active.btn-rounded-light-blue:focus,
.active.btn-rounded-light-green:focus,
.active.btn-rounded-light-yellow:focus,
.active.btn-rounded-red-orange:focus,
.btn-check:active + .btn-rounded-blue:focus,
.btn-check:active + .btn-rounded-gradient-aqua:focus,
.btn-check:active + .btn-rounded-gradient-blue:focus,
.btn-check:active + .btn-rounded-gradient-peach:focus,
.btn-check:active + .btn-rounded-indigo:focus,
.btn-check:active + .btn-rounded-light-blue:focus,
.btn-check:active + .btn-rounded-light-green:focus,
.btn-check:active + .btn-rounded-light-yellow:focus,
.btn-check:active + .btn-rounded-red-orange:focus,
.btn-check:checked + .btn-rounded-blue:focus,
.btn-check:checked + .btn-rounded-gradient-aqua:focus,
.btn-check:checked + .btn-rounded-gradient-blue:focus,
.btn-check:checked + .btn-rounded-gradient-peach:focus,
.btn-check:checked + .btn-rounded-indigo:focus,
.btn-check:checked + .btn-rounded-light-blue:focus,
.btn-check:checked + .btn-rounded-light-green:focus,
.btn-check:checked + .btn-rounded-light-yellow:focus,
.btn-check:checked + .btn-rounded-red-orange:focus,
.btn-rounded-blue:active:focus,
.btn-rounded-gradient-aqua:active:focus,
.btn-rounded-gradient-blue:active:focus,
.btn-rounded-gradient-peach:active:focus,
.btn-rounded-indigo:active:focus,
.btn-rounded-light-blue:active:focus,
.btn-rounded-light-green:active:focus,
.btn-rounded-light-yellow:active:focus,
.btn-rounded-red-orange:active:focus {
  outline: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-blue,
.btn-gradient-aqua,
.btn-gradient-blue,
.btn-gradient-peach,
.btn-indigo,
.btn-light-blue,
.btn-light-green,
.btn-light-yellow,
.btn-red-orange,
.btn-rounded-gradient-aqua,
.btn-rounded-gradient-blue,
.btn-rounded-gradient-peach,
.btn-scrollup-gradient-aqua,
.btn-scrollup-gradient-blue,
.btn-scrollup-gradient-peach {
  border-width: 0;
  outline: 0
}
.btn-scrollup,
.btn-scrollup-blue,
.btn-scrollup-gradient-aqua,
.btn-scrollup-gradient-blue,
.btn-scrollup-gradient-peach,
.btn-scrollup-indigo,
.btn-scrollup-light-blue,
.btn-scrollup-light-green,
.btn-scrollup-light-yellow,
.btn-scrollup-red-orange {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  color: #fff;
  bottom: 30px;
  padding: 7px 10px;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.2);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.2)
}
.btn-scrollup-blue:hover,
.btn-scrollup-gradient-aqua:hover,
.btn-scrollup-gradient-blue:hover,
.btn-scrollup-gradient-peach:hover,
.btn-scrollup-indigo:hover,
.btn-scrollup-light-blue:hover,
.btn-scrollup-light-green:hover,
.btn-scrollup-light-yellow:hover,
.btn-scrollup-red-orange:hover,
.btn-scrollup:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.4);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.4);
  -webkit-filter: opacity(90%);
  filter: opacity(90%)
}
.btn-scrollup-blue:focus,
.btn-scrollup-gradient-aqua:focus,
.btn-scrollup-gradient-blue:focus,
.btn-scrollup-gradient-peach:focus,
.btn-scrollup-indigo:focus,
.btn-scrollup-light-blue:focus,
.btn-scrollup-light-green:focus,
.btn-scrollup-light-yellow:focus,
.btn-scrollup-red-orange:focus,
.btn-scrollup:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.4);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.4);
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  color: #fff
}
@media (max-width:992px) {
  .btn-scrollup,
  .btn-scrollup-blue,
  .btn-scrollup-gradient-aqua,
  .btn-scrollup-gradient-blue,
  .btn-scrollup-gradient-peach,
  .btn-scrollup-indigo,
  .btn-scrollup-light-blue,
  .btn-scrollup-light-green,
  .btn-scrollup-light-yellow,
  .btn-scrollup-red-orange {
    right: 15px
  }
}
@media (min-width:993px) {
  .btn-scrollup,
  .btn-scrollup-blue,
  .btn-scrollup-gradient-aqua,
  .btn-scrollup-gradient-blue,
  .btn-scrollup-gradient-peach,
  .btn-scrollup-indigo,
  .btn-scrollup-light-blue,
  .btn-scrollup-light-green,
  .btn-scrollup-light-yellow,
  .btn-scrollup-red-orange {
    right: 160px
  }
}
.btn {
  padding: .84rem 2.14rem;
  font-size: .81rem;
  text-transform: uppercase
}
.btn-rounded-blue {
  background: #2096ff
}
.btn-rounded-indigo {
  background: #303f9f
}
.btn-rounded-light-yellow {
  background: #ffd86f
}
.btn-rounded-red-orange {
  background: #fc6262
}
.btn-rounded-light-blue {
  background: #45cafc
}
.btn-rounded-light-green {
  background: #05ffa3
}
.btn-rounded-gradient-blue {
  background: -o-linear-gradient(50deg,#45cafc,#303f9f);
  background: linear-gradient(40deg,#45cafc,#303f9f);
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-rounded-gradient-blue:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-blue.active,
.btn-rounded-gradient-blue:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-blue:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-peach {
  background: -o-linear-gradient(50deg,#ffd86f,#fc6262);
  background: linear-gradient(40deg,#ffd86f,#fc6262);
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-rounded-gradient-peach:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-peach.active,
.btn-rounded-gradient-peach:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-peach:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-aqua {
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3);
  background: linear-gradient(40deg,#2096ff,#05ffa3);
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-rounded-gradient-aqua:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-aqua.active,
.btn-rounded-gradient-aqua:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-rounded-gradient-aqua:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-blue {
  background: #2096ff;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-blue:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-blue.active,
.btn-blue:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-blue:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-indigo {
  background: #303f9f;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-indigo:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-indigo.active,
.btn-indigo:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-indigo:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-yellow {
  background: #ffd86f;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-light-yellow:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-yellow.active,
.btn-light-yellow:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-yellow:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-red-orange {
  background: #fc6262;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-red-orange:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-red-orange.active,
.btn-red-orange:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-red-orange:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-blue {
  background: #45cafc;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-light-blue:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-blue.active,
.btn-light-blue:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-blue:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-green {
  background: #05ffa3;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-light-green:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-green.active,
.btn-light-green:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-light-green:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-blue {
  background: -o-linear-gradient(50deg,#45cafc,#303f9f);
  background: linear-gradient(40deg,#45cafc,#303f9f);
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-gradient-blue:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-blue.active,
.btn-gradient-blue:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-blue:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-peach {
  background: -o-linear-gradient(50deg,#ffd86f,#fc6262);
  background: linear-gradient(40deg,#ffd86f,#fc6262);
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-gradient-peach:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-peach.active,
.btn-gradient-peach:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-peach:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-aqua {
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3);
  background: linear-gradient(40deg,#2096ff,#05ffa3);
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}
.btn-gradient-aqua:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-aqua.active,
.btn-gradient-aqua:active {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-gradient-aqua:focus {
  -webkit-filter: opacity(85%);
  filter: opacity(85%);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.4)!important
}
.btn-scrollup-blue {
  background: #2096ff
}
.btn-scrollup-indigo {
  background: #303f9f
}
.btn-scrollup-light-yellow {
  background: #ffd86f
}
.btn-scrollup-red-orange {
  background: #fc6262
}
.btn-scrollup-light-blue {
  background: #45cafc
}
.btn-scrollup-light-green {
  background: #05ffa3
}
.btn-scrollup-gradient-blue {
  background: -o-linear-gradient(50deg,#45cafc,#303f9f);
  background: linear-gradient(40deg,#45cafc,#303f9f)
}
.btn-scrollup-gradient-peach {
  background: -o-linear-gradient(50deg,#ffd86f,#fc6262);
  background: linear-gradient(40deg,#ffd86f,#fc6262)
}
.btn-scrollup-gradient-aqua {
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3);
  background: linear-gradient(40deg,#2096ff,#05ffa3)
}
.content-wrapper {
  min-height: 100vh
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  background-color: #ccc
}
.nav-link:hover {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s
}
.nav-link-collapse:after {
  float: right;
  content: "\f067";
  font-family: fontawesome!important
}
.nav-link-show:after {
  float: right;
  content: '\f068';
  font-family: fontawesome!important
}
.nav-item ul.nav-second-level {
  padding-left: 0
}
.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px
}
@media (max-width:992px) {
  .content-wrapper {
    margin-top: 3.5rem
  }
}
@media (min-width:992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    background: #343a40;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,.3)
  }
  .navbar-expand-lg .sidenav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .content-wrapper {
    margin-left: 230px;
    margin-top: 3.5rem
  }
  .footer {
    width: calc(100% - 230px);
    margin-left: 230px
  }
}